name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ocaml/setup-ocaml@v3
      with:
        ocaml-compiler: 5.2
    - name: Install dependencies
      run: |
        rustup update stable
        rustup default stable
        cargo install --locked typst-cli
    - name: Build
      run: |
        opam exec -- make -j $(nproc) all
