name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive
    - name: Setup OCaml
      uses: ocaml/setup-ocaml@v3
      with:
        ocaml-compiler: 5.4.0
    - name: Install OCaml dependencies
      run: |
        opam install . --deps-only --with-test --yes
    - name: Setup typst-cli
      uses: baptiste0928/cargo-install@v3
      with:
        crate: typst-cli
    - name: Install fonts
      run: |
        sudo apt-get update
        sudo apt-get install -y fonts-noto-cjk fonts-noto-cjk-extra 
    - name: Build
      run: |
        opam exec -- make -j $(nproc) all
    - name: Test
      run: |
        opam exec -- make test
