name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup OCaml
      uses: ocaml/setup-ocaml@v3
      with:
        ocaml-compiler: 5.2
    - name: Install Typst
      uses: baptiste0928/cargo-install@v3
      with:
        crate: typst-cli
    - name: Build
      run: |
        opam exec -- make -j $(nproc) all
